.button {
  @extend .radius;

  display: inline-block;
  padding: 1.125rem 1.5rem 0.9rem 1.5rem;
  
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  // border: 2px solid;
  
  @include apply-utility('font', 'sans');
  @include apply-utility('weight', 'bold');
  
  
  // background: get-color('primary');
  // color: get-color('light');

  // Make sure hover state trumps all variants with a good ol’ important

  border: 3px solid transparent;

  &--solid {
    background-color: get-color('primary');
    color: get-color('light-glare');
    
    &:hover {
      background-color: get-color('light-glare');
      color: get-color('primary');
      border-color: get-color('primary');
    }

    &-light {
      background-color: get-color('light-glare');
      color: get-color('primary');

      &:hover {
        border-color: get-color('light-glare');
        background-color: transparent;
        color: get-color('light-glare');
      }
    }
  }
  
  &--outline {
    background-color: transparent;
    color: get-color('primary');
    border-color: get-color('primary');
    
    &:hover {
      color: get-color('light-glare');
      background-color: get-color('primary');
    }

    &-light {
      background-color: transparent;
      color: get-color('light-glare');
      border-color: get-color('light-glare');

      &:hover {
        background-color: get-color('light');
        color: get-color('primary');
      }
    }
  }

  &--small {
    font-size: get-size('350');
    padding: 12px 18px 9px 18px;
  }
}

#c-submit-button {

}