.site-head {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: get-color("light");
  z-index: 500;

  &__logo {
    position: absolute;
    top: -2.3rem;
    left: 50%;
    transform: translateX(-100px);
    width: 180px;
    z-index: 500;
  }

  &__inner {
    position: relative;
    z-index: 550;
  }

  &__topbar {
    background-color: get-color("primary");
    padding: 0.5rem 0;

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & a {
      text-transform: uppercase;
      font-weight: 600;
      color: get-color("light");
      text-decoration: none;

      &:focus {
        outline-color: white;
      }

      & svg {
        display: inline;
      }
    }

    & > div > div:first-child {
      & > * {
        margin-right: get-size("600");
      }
    }

    & > div > div:last-child {
      & > * {
        margin-left: get-size("600");
      }
    }

    // color: #fff;
    // a {
    //   color: #fff;
    // }
  }
}

.alert {
  background-color: get-color("primary-shade");
  text-align: center;
  padding: get-size("200");
  color: #ffe000;
  position: relative;
  z-index: 100;

  & p {
    display: inline-block;

    & a {
      text-decoration-color: #ffe000;
      &:focus {
        outline-color: white;
      }
    }
  }

  & button {
    margin-left: auto;
    background-color: get-color("primary");
    border: none;
    color: get-color("light");
    display: inline-block;
    margin-left: get-size("400");
    &:focus {
      outline-color: white;
    }
  }
}
