@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --flow-space: 1.875rem;
    --grid-space: 0.9375rem;
  }
  body {
    @apply font-body text-dark bg-light text-base leading-normal;
  }

  h1,
  h2 {
    @apply text-2xl lg:text-4xl font-extrabold uppercase font-display leading-tight;
  }

  :focus {
    outline: 2px dashed green;
    outline-offset: 0.25rem;
  }
  main:focus {
    outline: none;
  }

  ::selection {
    color: white;
    /* // We set this as an RGBA because that’s how you get a solid color, by using 0.99
    // alpha value. Browsers are wild. */
    background: rgba(54, 52, 46, 0.99);
  }

  /* /// Scrollbar styles */
  ::-webkit-scrollbar {
    height: 1rem;
  }

  ::-webkit-scrollbar-track {
    border: 1px solid #527033;
    border-radius: 0.25rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #527033;
    border-radius: 0.25rem;
    border: 1px solid white;
  }

  .cognito:not(.c-forms-actionBar) {
    max-width: 100% !important;
  }

  /* PREVIEW STYLES */
  .refreshPreview {
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1000;
  }
  .refreshPreview:hover {
    background-color: rgb(49, 49, 49);
    font-weight: bold;
  }
  .bodyPreviewActive {
    padding-top: 2rem !important;
  }
  /* END PREVIEW STYLES */

  /* ALTERNATING MAG SECTIONS */
  /* .magSection:nth-child(even) {
    flex-direction: row-reverse !important;
  }
  .magSection:nth-child(even) .magSection__content {
    @apply md:ml-0 md:mr-grd;
  } */
  .magSection + .magSection:nth-child(even) {
    /* background-color: red !important; */
    flex-direction: row-reverse !important;
    @apply 2xl:pr-grd;
  }
  .magSection + .magSection:nth-child(even) .magSection__content {
    @apply ml-0 mr-grd 2xl:mr-0 2xl:ml-grd;
  }
  .magSection + .magSection:nth-child(even) .magSection__image {
    @apply 2xl:mr-grd;
  }
}

@layer components {
  .sectionMainHeading {
    @apply text-3xl lg:text-4xl 2xl:text-5xl;
  }
  .button {
    @apply py-4 px-6 inline-flex items-center no-underline text-center bg-green text-light hover:text-yellow-light rounded uppercase font-semibold tracking-wider;
  }
  .button--light {
    @apply bg-light text-green;
  }
  .newTag {
    @apply ml-1 bg-red text-yellow px-2 py-1 relative leading-none rounded-full uppercase font-bold text-xxs;
  }
  .site-head__topbar a {
    @apply py-2;
  }
  .site-head__topbar a svg {
    @apply mr-1 md:mr-2;
  }
  .nav__item {
    @apply border-b md:border-none;
  }
  .nav__item > div > button,
  .nav__item > a {
    @apply text-base uppercase flex  tracking-wide font-bold
      p-4  w-full text-left
      md:p-2 md:text-sm lg:text-base focus:bg-green focus:text-light-light;
  }
  .pannel {
    @apply p-10;
  }
  .pinned {
    @apply absolute object-cover top-0 right-0 left-0 bottom-0 w-full h-full;
  }
  .subtitle {
    @apply text-base font-bold tracking-wider uppercase leading-6;
  }

  .site-wrap {
    /* // overflow-x: hidden; */
    position: relative;
    min-height: 100vh;
  }

  .wrapper {
    /* // was 70 originally */
    max-width: 100rem;
    padding: 0 0.9375rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

  .skip-link {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
  }
  .skip-link:not(:focus) {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

  .footer__col h4 {
    @apply uppercase tracking-widest mb-4 font-semibold;
  }
  .footer__col ul {
    @apply space-y-3 lg:space-y-2;
  }
  .outline-white a::focus {
    outline-color: white !important;
  }
}
